<nav class="navbar fixed-bottom navbar-dark bg-dark">
  {{#if user}}
  <a class="navbar-brand" href="#">Make For Fun</a>
  <a class="navbar-brand" href="/addPost" id="MAP"><i class="fa fa-plus-square-o"> Post</i></a>
  <a class="navbar-brand" href="#">&copy 2019</a>
  {{else}}
  <a class="navbar-brand" href="#"></a>
  <a class="navbar-brand" href="#">&copy 2019 all rights reserved</a>
  {{/if}}
</nav>