<div class="container" id="MAP"> 
    <h1 id="MAP">Success!</h1>
    <h2 id="MAP">Payment received!</h2>
    <h1 id="MAP">Thank you for your payment</h1>
    <h3 id="MAP">You can create posts now...</h3>
    <br>
    <a id="MAP" href="/displayPostForm"><button id="MAP" class="btn btn-success" type="button">Create Post</button></a>
</div>