#homepage{
    text-align: center;
}
.btn-facebook {
    background-color: #4aa1f3;
    border: 0%;
    color: #fff;
    width: auto;
}
.btn-facebook:link,
.btn-facebook:visited{
    text-decoration: none;
    background-color: #4aa1f3;
    color: #fff;
}
.btn-gplus{
    background-color: #e44b34;
    color: #fff;
    border: 0%;
    width: auto;
}
.btn-gplus:link,
.btn-gplus:visited{
    text-decoration: none;
    background-color: #e44b34;
    color: #fff;
}
.btn-instagram{
    background-color: rgb(195, 42, 163);
    border-radius: 0%;
    width: auto;
    color: #fff;
}
.btn-instagram:link,
.btn-instagram:visited{
    text-decoration: none;
    background-color: rgb(195, 42, 163);
    color: #fff;
}
#welcome{
    color: bisque;
}
h1{
    text-align: center;
}
#main{
    margin-top: 60px;
    margin-bottom: 50px;
}
.col-sm-4{
    margin-bottom: 10px;
}
#address {
    color: darkgreen;
}
.post-user-pic {
    width: 100px;
    height: auto;
}
.red{
    color: green;
}
#comment-user-picture{
    width: 80px;
    height: auto;
}
.reddd{
    color: red;
}
#MAP{
    text-align: center;
}
#user-image{
    width: 150px;
    height: auto
}
#users-box{
    margin: 5px 5px 5px 5px ;
}
.row{
    width: 100%
}
#profileMargin{
    margin-left: 100px;
}
#giveMargin{
    margin-top: 20px;
}
}
#giveMargin2{
    margin-top: 20px;
}
#giveMargin3{
    margin-top: 30px;
    margin-bottom: 30px;
}
#giveMargin4{
    margin-top: 20px;
    margin-left: 100px;
}
#giveMargin5{
    margin-left: 100px;
}